.mainpage__header {
    text-transform: uppercase;
    font-size: 5vw;
    font-family: 'Chewy', cursive;
    margin-bottom: 5px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.mainpage__label {
    margin-bottom: 15px;
    display: block;
}
.mainpage__colorsample {
    width: 60%;
    height: 200px;
    border: 3px dashed black;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
.mainpage__palette {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    overflow: hidden;
    height: 180px;
}
.mainpage__palette__record {
    border: 2px dashed black;
    height: 140px;
    margin-bottom: 10px;
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    position: relative;
}
.mainpage__palette__record__paragraph,
.mainpage__colorsample__list {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mainpage__palette__record__paragraph,
.mainpage__colorsample__list li {
    font-size: 24px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.mainpage__palette__button--success {
    width: 200px;
    margin-top: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

@media(max-width:767px) {
    .mainpage__header {
        font-size: 34px;
    }
    .mainpage__palette__record__paragraph {
        font-size: 16px;
    }
    .mainpage__palette__record {
        width: 45%;
        height: 100px;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .mainpage__palette {
        margin-top: 5px;
        height: 265px;
    }
    .form-control {
        width: 60% !important;
    }
    .mainpage__colorsample {
        height: 130px;
    }
}
