<div class="container text-center">
    <h2 class="mainpage__header">Color Reader</h2>

    <form data-ng-submit="fireColorReader()" class="form-inline">
        <div class="form-group">
            <label for="colorField" class="mainpage__label">enter RGB or HEX or HSL </label>
            <input
                type="text"
                ng-model="color_field"
                class="form-control"
                id="colorField"
                required>
            <input type="submit" class="btn btn-default" value="Let's rock!">
        </div>
    </form>

    <div class="mainpage__colorsample" style="background-color:{{color_field}}">
        <ul class="list-unstyled mainpage__colorsample__list">
            <li data-ng-repeat="n in convertedColors | orderBy: reverse : true | limitTo: 1">
                {{n.colorInHEX}}
                <br>
                {{n.colorInHSL}}
                <br>
                {{n.colorInRGB}}
            <li>

        </ul>
    </div>

</div>

<div class="container mainpage__palette">
    <div class="row">
        <p class="help-block text-center">
            Hey you! Your colors will stay in palette untill you clear cache or click button below!
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mainpage__palette__record"
             data-ng-repeat="n in colorsFromCache | orderBy: reverse : true | limitTo: 4"
             style="background-color: {{n.inHEX}}">
            <p class="mainpage__palette__record__paragraph text-center">
                {{n.inHSL}}
                <br>
                {{n.inHEX}}
                <br>

            </p>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mainpage__palette__record"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mainpage__palette__record"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mainpage__palette__record"></div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 mainpage__palette__record"></div>
    </div>
</div>
<button class="btn btn-success mainpage__palette__button--success" data-ng-click="clearCache()">Clear Pallete</button>
